# the values in this file are used when the
# building the image/helm chart for release.

# the final image will be REGISTRY/REPO/PROJECT_NAME:RELEASE_VERSION

# the version number of the release that will be use
# to tag the images and helm chart.
# This will get set automatically in the github release action
# but if your building on yuour own it can be used.
RELEASE_VERSION=0.1.0

# the name used for the docker images and helm release
PROJECT_NAME=php5-site

# This is used to name the images and is ususally your
# Docker hub username.
REPO=jgz

# the container registry.  if left blank then most
# systems assume docker.io
# should end with a / if set.
REGISTRY=ghcr.io/

# ths gets used in the helm chart to set the default host
PROJECT_HOST=example.com
