# the values in this file are used when the
# building the image/helm chart for release.

# the final image will be REPO_NAME/PROJECT_NAME:RELEASE_VERSION

# the version number of the release that will be use
# to tag the images and helm chart.
# You shoudl update this before you create the release
# on github.
RELEASE_VERSION=0.1.0

# the name used for the docker images and helm release
# You must rename the /charts/php5-site folder to this.
PROJECT_NAME=php5-site

# This is used to name the images and is ususally your
# Docker hub username.
REPO_PREFIX=dockerhubuser

# ths gets used in the helm chart to set the default host
PROJECT_HOST=example.com
